.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 0 21px;
  z-index: 1;
  background: rgba(21, 36, 72, 0.2);
  backdrop-filter: blur(125px);

  @media  all and (max-width: 800px) {
    padding: 24px 0;
  }



  &Container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    &Nav {
      width: 70%;
      
      @media  all and (max-width: 1440px) {
        width: 70%;
      }

      @media  all and (max-width: 1080px) {
        width: 75.4%;
      }

      @media  all and (max-width: 800px) {
        width: 83%;
      }


      &List {
        display: flex;
        gap: 48px;
        align-items: center;

        @media  all and (max-width: 1080px) {
          gap: 40px;
        }
        &Items {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 128.9%;
          transition: all .3s ease-in-out;
          &:hover { opacity: .3}

          @media  all and (max-width: 1080px) {
            font-size: 18px;
          }
          a{
            color: #F2F2F2;

          }
        }
      }
    }
  }
}

.burgerMenu {
  width: 64px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.burgerMenu span {
  background-color: #06CAF9;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 5px;
  transition-duration: 500ms;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.burgerMenu span:nth-child(1) {
  top: 0;
  left: 0;

}

.burgerMenu span:nth-child(2) {
  top: 13px;
  left: 0;
  opacity: 1;
}

.burgerMenu span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.burgerMenu.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.burgerMenu.open span:nth-child(2) {
  opacity: 0;
}

.burgerMenu.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}