.portfolio {
  margin-top: 140px;
  &List {
    margin-top: 104px;
  }

  &GridContainer {
    margin-top: 74px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 122px;



    @media all and (max-width: 1080px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-content: center;
      grid-column-gap: 20px;
    }

    @media all and (max-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-content: center;
      grid-column-gap: 20px;
    }

    @media all and (max-width: 950px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-content: center;
    }

    @media all and (max-width: 600px) {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-content: center;
    }
  }
}