.skillsItem {

  &Title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 38px;
    padding-top: 12px;
    background-repeat: no-repeat;

    &Container {
      display: flex;
      align-items: center;
      gap: 21px;
    }

    &Border {
      max-width: 248px;
      margin-top: 17px;
      display: block;
      height: 2px;
      background: linear-gradient(89.99deg, #00D1FF 0%, rgba(255, 34, 141, 0) 100%);
    }

    &Text{
      color: #F2F2F2;

    }
  }
  &Text{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 128.9%;;
    color: #BDBDBD;
  }
}
