.contactForm{
  display: flex;
  flex-direction: column;

  &Checkbox {
    position: relative;
    cursor: pointer;
    display: flex;
    margin-top: 43px;
    &Text {
      user-select: none;
      font-family: "Lato";
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      color: #87BFD1;
    }

    &Input {
      position: absolute;
      opacity: 0;
      width: 35px;
      height: 35px;
    }

    &Span {
      margin-right: 12px;
    }

    &Input + &Span::before {
      content: '';
      display: inline-block;
      margin-right: 5px;
      border: 2px solid #0CAED5;
      border-radius: 4px;
      width: 32px;
      height: 32px;
    }

    &Input:checked + &Span::before {
      background-image: url('/checked.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      border-color: transparent;
      animation: pop 180ms ease-in;
    }

    &Input:focus + &Span::before{
      outline: 2px;
    }
  }

  @keyframes pop {
    0%{
      transform: scale(0);
    }
    90% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
}