.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #06CAF9;
  margin-bottom: 50px;

  @media all and (max-width: 1080px) {
    font-size: 36px;
  }

  @media all and (max-width: 800px) {
    font-size: 24px;
  }

  @media all and (max-width: 485px) {
    margin-bottom: 38px;
  }
  &Span {
    background: linear-gradient(89.99deg, #00D1FF 0%, rgba(255, 34, 141, 0) 100%);
    height: 3px;
    margin-top: 16px;
    display: block;

    @media all and (max-width: 800px) {
      margin-top: 10px;
    }
  }
}